header {
    height: 107px;
    width: 98%;
    background-color: #ff8676;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 3px 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 5px;
}
img {
    width: 150px;
}
body {
    margin: 0;
    display: grid;
    place-items: center;
    background-color:white;
    min-height: 50vh;
}

section {
    align-content: center;
}
form {
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    background-color: #E1F9FE;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 3px 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 560px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 50px;

}
p {
    font-weight: 600;
}
input, textarea {
    background-color: white;
}
.box {
    margin: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}
.text-input {
    width: 435px;
    border: 1px solid black;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
input[type="text" i] {
    height: 28px;
}
input[type="submit" i] {
    appearance: none;
    background-color: #E1F9FE;
    width : 109px;
    height: 30px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    position: relative;
    left: 230px;
    border: 1px solid #283D3A;
    border-radius: 5px;
    margin-top: 10px;
}
.Timeline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #333333;
    position: relative;
    left: 70px;
}

.line {
    position: relative;
    background-color: black;
    width: 90.01px;
    height: 1px;
    top: 20px;
    left: -70px;
}
div {
    align-items: center;
    justify-content: center;
    align-content: center;
}
.msgs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.msg {
    background-color: #E1F9FE;
    width: 556px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 3px 5px 2px rgba(0, 0, 0, 0.25);
    margin: 20px;
}
.linha {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 520px;
    margin-left: 10px;
    
}
.buttons {
    display: inline-block;
}
.nome {
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
}
.conteudo {
    margin: 10px;
    margin-left: 20px;
    width: 524px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    position: relative;
    padding-bottom: 10px;

}
button {
    appearance: none;
    background-color: #E5E5E5;
    border: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}
button[name="delOne" i] {
    width: 20px;
    height: 20px;
    margin-right: 10px;;
    background-image: url(./trash.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px;
    background-color: white;
    border: 1px solid #FA2002;
    border-radius: 5px;

}
button[name="editOne" i] {
    width : 20px;
    height: 20px;
    background-image: url(./edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px;
    background-color: white;
    border: 1px solid #283D3A;
    border-radius: 5px;
}
.edicao {
    width: 556px;
    height: 152px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 3px 5px 2px rgba(0, 0, 0, 0.25);
    background-color: #CBE3E9;
    border-radius: 0px 0px 20px 20px;
}
.boxE {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 520px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 14,06px;
    font-family: 'Roboto', sans-serif;
}
.text-edit {
    width: 364px;
    height: 55px;
    font-size: 14,06px;
    background-color: white;
    border: 1px solid #283D3A;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
input[id="novoNome" i] {
    width: 394px;
    height: 22px;
}
input[name="edit" i] {
    width: 109px;
    height: 30px;
    border: 1px solid #283D3A;
    box-sizing: border-box;
    background-color: #CBE3E9;
    border-radius: 5px;
    margin-right: 13px;
}